
<header class="mb-auto">
    <div>
        <h3><a href="#"
               class="float-md-start mb-0 border-bottom border-danger rounded-bottom px-5 text-decoration-none">LAB 2</a>
        </h3>
        <nav class="nav nav-masthead justify-content-around float-md-end border-bottom border-white rounded-bottom">
            <a class="nav-link btn fw-bold py-1 px-xxl-5 active" aria-current="page"
               href="#">button 1</a>
            <a class="nav-link btn fw-bold py-1 px-xxl-5 active" aria-current="page"
               href="#">button 2</a>
            <a class="nav-link btn fw-bold py-1 px-xxl-5 active" aria-current="page"
               href="#">button 3</a>
            <a class="nav-link btn fw-bold py-1 pr-xxl-5 active" href="#">
                button 4
            </a>
        </nav>

    </div>
</header>
<br>

